{% extends 'bots/navigation.html' %}{% block group-intent %}
<div class="xyz">
    <div class="container pqr">
        <div class="row">
            <div class="col-9 border-right border-dark">
                {% if message %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
                <form class="form clearfix" method="POST">
                    {% csrf_token %} {% for intent in intents %}
                    <input type="hidden" value="{{intent.intent_id}}" name="newintent{{forloop.counter}}" /> {% endfor %}
                    <button type="submit" class="btn btn-primary float-right mb-3 mr-5 mt-2">saveGroup</button>
                </form>
                <div class="selected-intents">
                    {% for intent in intents %}
                    <div class="list-group w-25 float-left mr-5 mb-3">
                        <p class="list-group-item d-inline">{{intent.intent_name}}
                            <span class="badge-pill float-right" style="cursor:pointer;">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </span></p>
                        <p class="d-none">{{intent.intent_id}}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-3" style="height:500px;">
                <div class="intent mt-3">
                    <form class="form" method="POST">
                        <div class="form-group">
                            <input type="text" placeholder="search" class="form-control">
                        </div>
                    </form>

                    <div class="total-intents">
                        <ul class="list-group text-center side-intent">
                            {% for intent in final_intents %}
                            <li class="list-group-item mb-2">
                                <p class="d-inline">{{intent.intent_name}}</p>
                                <p class="d-none">{{intent.id}}</p>
                                <span class="badge-pill float-right" style="cursor: pointer;">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </span>
                            </li>
                            {% endfor %} {% for intent in private_intents %}
                            <li class="list-group-item mb-2">
                                <p class="d-inline">{{intent.intent_name}}</p>
                                <p class="d-none">{{intent.id}}</p>
                                <span class="badge-pill float-right" style="cursor: pointer;">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </span>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .xyz {
        position: relative;
    }
    
    .pqr {
        position: absolute;
        left: 15%;
    }
</style>

<script>
    var count = 1
    document.querySelector('.total-intents').addEventListener('click', (e) => {
        //console.log('plus clicked')
        if (e.target.classList.contains('fa-plus')) {
            var intent_id = e.target.parentNode.parentNode.children[1].textContent
            var intent_name = e.target.parentNode.parentNode.children[0].textContent
                //console.log(intent_id, intent_name)

            document.querySelector('.selected-intents').innerHTML += `<div class="list-group w-25 float-left mr-5 mb-3">
                        <p class="list-group-item d-inline">${intent_name}
                        <span class="badge-pill float-right" style="cursor:pointer;">
                        <i class="fa fa-times" aria-hidden="true"></i>
                        </span></p>
                        <p class="d-none">${intent_id}</p>
                    </div>`

            document.querySelector('.form').innerHTML += `<input type="hidden" value='${intent_id}' name='intent${count}'>`

            count++;

            if (e.target.parentNode.parentNode.classList.contains('list-group-item')) {
                e.target.parentNode.parentNode.remove()
            }
        }
    })

    document.querySelector('.selected-intents').addEventListener('click', (e) => {
        if (e.target.classList.contains('fa-times')) {
            if (e.target.parentNode.parentNode.parentNode.classList.contains('list-group')) {
                var intent_id = e.target.parentNode.parentNode.parentNode.children[1].textContent
                var intent_name = e.target.parentNode.parentNode.textContent

                document.querySelector('.side-intent').innerHTML += `<li class="list-group-item mb-2">
                                <p class="d-inline">${intent_name}</p>
                                <p class="d-none">${intent_id}</p>
                                <span class="badge-pill float-right" style="cursor: pointer;">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </span>
                            </li>`

                e.target.parentNode.parentNode.parentNode.remove()

                var added_intents = document.querySelector('.form').children

                for (var i = 0; i < added_intents.length; i++) {
                    if (added_intents[i].value == intent_id) {
                        console.log(added_intents[i].value)
                        document.querySelector('.form').children[i].remove()
                        count--;
                    }
                }

                console.log(added_intents)

            }
        }
    })
</script>


{% endblock %}